* {
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
}

.member>div {
    background-color: white;
    margin: 10px;
}

h3 {
    padding: 2px 5px;
}

h4 {
    padding: 2px 5px;
}